*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: red 3px solid;
	
}
body input:required:valid,
body textarea:required:valid {
		border :green 3px solid;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header-topline {
	background: #3e3737;
	padding: 15px 0;
	color:#fff;
}



.top-links a {
	color:#fff;
	text-decoration: underline;
}

.top-links a:hover {
	text-decoration: none;
}
.top-links {
	display: inline-block;
	vertical-align: middle;
	z-index: 10;
	max-width: 700px;

	
}
.soc-buttons {
	float: right;
	

	
}

.soc-buttons a {
	color:#fff;
	font-size: 22px;
	margin-left: 7px;
}

.auth-button,
.main-menu-button {
	border: none;
	background-color: transparent;
	font-size: 28px;
	vertical-align: middle;
	
}

.logo {
	display: block;
	padding: 15px 0;
	color: #fff;
	font-family: "BickhamScriptTwoRegular";
	font-size: 55px;
	text-align: center;
}
.top-header {
	background-color:aqua;
}
.main-menu {
	background: #de6767;
	color: #fff;
	margin-bottom: 20px;
	position: relative;
}
.main-menu a {
	color: #fff;
	padding: 15px 10px;
	display: block;
	transition: opqcity 300ms easy;

}
.main-menu a:hover {
	background-color: rgba(198, 141, 141, 0.96);
		transition: all 500ms ease ;

}
.main-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	text-transform: uppercase;
	
}
.top-contacts {
	float: right;	
	font-size: 22px;
	padding: 10px 10px 0 0;
}
.top-contacts i{
	padding-right: 3px;
	padding-bottom: 15px;
}
.main-menu ul li  {
	display: inline-block;
	}
h1 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.slider-container  {
	position: relative;
}
.slider-container img {
	max-width: 100%;
	

}
.next_button, .prev_button {
	font-size: 50px;
	position: absolute;
	color: #fff;
	z-index: 10;
	cursor: pointer;
	top: 40%;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
.order {
	background: #f2dbdb;
	padding: 20px 0;
}
.sell-descr {
	font-size: 26px;
	
	
}
.button {
	display: block;
	border: medium none;
	background-color: #cb6500;
	padding: 10px;
	border-radius: 5px;
	text-transform: uppercase;
	color:  #fff;
	
}
.button:hover {
	background-color: #bf946a;

}
.button:active {
	background-color: #67954e;

}
.btnn {
	float: right;
}
.hidden {
	display: none;
}
.pop-form input {
	display: block;
	width:90%;
	margin:0 auto 12px;
	border: 3px solid #999;
}

.pop-form h3 {
	margin: 10px auto 15px;
	text-align: center;
	
}
.blog-item img {
	max-width: 100%;
	
}
.blog-item h3 {
	text-transform: uppercase;
	margin-bottom: 10px;;
}

.blog-item p {
	margin-top: 0;
}
aside {
	padding: 25px;
	border-radius: 5px;
	background: #ccc;
	margin-top: 30px;
}